
.content-main{
  background: #eeeeee;

}
.sidebar-caja{
  width: 17%;

  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 25px;
}
.main-caja{
  width: 83%;
  padding: 5em;

}
.caja{
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding:2em;
  gap: 1em;
}
.icono{
  font-size: 4em;
  color: #eee;


}
.icono-caja{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 110px;
  background: #51ab55;
}
button{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #fff;
  gap: 1em;
  padding: 2em;
}
.icono-modulo{
  font-size: 6em;
  color: #e59023;
}
.titulo-modulo{

  font-size: 2em;
}
